# add demo gcodes here

[gcode_macro demo]
gcode:
    G90
    G28 X Y
    MANUAL_STEPPER STEPPER=stepper_pusha SPEED=30 MOVE=-700 STOP_ON_ENDSTOP=1
    MANUAL_STEPPER STEPPER=stepper_pusha SET_POSITION=0
    MANUAL_STEPPER STEPPER=stepper_pusha MOVE=10

[gcode_macro PUSHA_HOME_ONLY]
# home pusha only, disregarding X gantry position.
# THIS IS VERY DANGEROUS, PUSHA MAY HIT X GANTRY IF NOT MOVED OUT OF THE WAY
# TODO: add variables to make sure X gantry is out of the way
gcode:
    MANUAL_STEPPER STEPPER=stepper_pusha SPEED=30 MOVE=-700 STOP_ON_ENDSTOP=1
    MANUAL_STEPPER STEPPER=stepper_pusha SET_POSITION=0


[gcode_macro PUSHA_PUSH_OFF]
gcode:
    G28 X ; home x
    G1 Z250 F500 ; move z up
    G1 Y300 F1000 ; move bed to front 
    PUSHA_HOME_ONLY ; home pusha (only pusha)
    ; move pusha quick to the edge of bed
    MANUAL_STEPPER STEPPER=stepper_pusha speed=30 MOVE=350
    ; slowly move pusha across bed to push off parts
    MANUAL_STEPPER STEPPER=stepper_pusha SPEED=5 MOVE=700